<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static  %}
    <script src="{% static 'disableContextMenu.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h2>Submission Successful</h2>
    <p>Data Submitted: {{ submitted_data.text_data }}</p>

    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>
</html>